.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-left: 180px;
    
}

.home-text-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connorhise{
    font-size: calc(60px + 2vmin);
    margin-top: 10px;
    margin-bottom: 10px;
}

.hello-text{
    margin-top: 25vh;
    font-size: 1.5em; /* Adjust font size as needed */
    color: #555; /* Slightly lighter text color */
}

.home-text{
    font-size: 1.2em; /* Base font size for regular text */
    line-height: 1.6; /* Improve readability with line height */
    color: #666; /* Slightly lighter text color for regular text */
    margin-bottom: 20px; /* Space below the text */
}

.home-art{
    margin-left: 25%;
    height: auto;
    padding: 2%;
    margin-top: 5%;
    max-width: 50%; /* Ensure the art doesn't exceed half the width */
    border-radius: 10px; /* Rounded edges for the art */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}