.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-left: 180px;
    
}

.home-text-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connorhise{
    font-size: calc(60px + 2vmin);
    margin-top: 10px;
    margin-bottom: 10px;
}

.hello-text{
    margin-top: 25vh;
    font-size: 1.5em;
    color: #555;
}

.home-text{
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;

.home-art{
    margin-left: 25%;
    height: auto;
    padding: 2%;
    margin-top: 5%;
    max-width: 50%; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}