.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}

.home-title{
    margin-top: 125px;
    font-size: calc(60px + 1vmin);
    text-align: center;
    margin-right: 2vw;
    /* color: #818181; */
    /* color: white; */
    color: #ED7B58;
}

.about-text{
    color: #ED7B58;
    margin-right: 2vw;
    margin-top: 15px;
    font-size: 1.2em;
}

.home-text{
    font-size: 1.2em;
    line-height: 1.6;
    color: #818181;
    margin-bottom: 20px;
}
