.card{
    /* position: relative; */
    overflow: hidden;
    width: calc(80% / 3 - 10px);
    margin: 5px;
    height: 15vh;
    cursor: pointer;
    /* border: 2px solid #000;*/
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    background-color: white;
    
}

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: grey; /*can fix later with luxury*/
}

.card-image{
    width: 80%;
    height: auto;
    max-width: 60px;
    max-height: 60px;
    margin: 2px;
    border-radius: 15px;
}

.card-title{
    font-size: 1.2em; 
    font-weight: bold; 
    text-align: center; 
    margin: 5px 0; 
}

.card-text{
    font-size: 1em;
    text-align: center; 
    margin: 5px 0; 
    color: #333;
    /* transition: opacity 0.3s ease; */
}

.card-info-cont{
    display: none;
    padding: 10px;
    opacity: 0;
    /* transition: opacity 1s ease; */
}

.technologies{
    display: flex;
    flex-direction: row;
}

.summary{
    text-align: center;
}

.see-more{
    text-align: center;
}

.card.expanded{
    height: 50vh;
    width: 50vw;
}

.card.expanded .card-text{
    display:none;
}

.card.expanded .card-info-cont{
    display: contents;
    margin: 5px 0;
    opacity: 1;
}