.projects{
    height: 100vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    align-items: center;
}

.projects-title{
    margin-top: 15px;
    font-size: calc(60px + 1vmin);
    text-align: center;
    margin-right: 2vw;
}

.projects-intro{
    margin-top: 5px;
    text-align: center;
    margin-right: 2vw;
}

.card-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    margin-top: 20px;
    width: 80vw;
    margin-right: 2vw;
    padding: 5px;
}

