* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    /* color: black; */
    /* background-color: #141316; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}